.register-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ff0000;
  border-radius: 8px;
  background: #d2b9b9;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
} 