/* You can add global styles to this file, and also import other style files */
@use 'bootstrap';

/* Angular Material Theme */
@use '@angular/material' as mat;

@include mat.core();






/* Global styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Form builder specific global styles */
.mat-mdc-form-field {
  margin-bottom: 8px;
}

.mat-mdc-raised-button.mat-primary {
  background-color: #f44336;
}
