<div class="layout">
  <app-sidebar></app-sidebar>
  <main class="content">
    <div class="content-header">
      <div class="header-content">
        <div class="header-title">
          <h1>{{ pageTitle }}</h1>
          <div class="breadcrumb">{{ breadcrumb }}</div>
        </div>
        <div class="header-actions">
          <ng-content select="[slot=actions]"></ng-content>
        </div>
      </div>
    </div>
    <div class="content-body">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
  